@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto:ital@1&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body
{
    /*background: white;*/
    background-image: url(/IMG/oso.png);
    background-attachment: fixed;
}

.image
{
    width: 50%;
}

header
{
    height: 100px;
}

.container_header
{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
    width: 250px;
}

.menu nav ul
{
    display: flex;
    font-family: 'Poppins';

}

.menu nav ul li
{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a
{
    font-size: 19px;
    text-decoration: none;
    color: #69F1A1;
    transition: background, opacity, 300ms;
}

.menu nav ul li a:hover
{
    opacity: 0.5 ;
    color: white;
}

.buttons_cover
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn_header-register,
.btn_readMore-cover
{
    /*padding: 15px 50px ;*/
    border: none;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition:  background, color, 300ms;
    filter: drop-shadow(-5px 0px 5px rgba(0,0,0,0.5));
}

.btn_header-register:hover,
.btn_readMore-cover:hover
{
    background-color: #69F1A1;
    color:white;
}

#icon_menu
{
    display: none;
}


/*PORTADA - COVER */

main
{
    max-width: 1200px;
    height: calc(100vh + 800px); 
    padding: 40px;
    margin: auto;
}

.cover
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text_information-cover
{
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

.text_information-cover h1
{
   font-size: 45px; 
   text-align: center;
   padding-right: 20px;
}

.text_information-cover p
{
    font-size: 25px;
    text-align: center;
    padding-right: 20px;
    margin-top: 40px;
}

.buttons_cover
{
    display: flex;
    margin-top: 40px;
}

.container_banner
{
    margin-top: 80px;
    padding: 55px;
}

.banner
{
    height: 250px;
    display: flex;
    align-items: center;
    background-color: #121214;
    position: relative;
}

.banner_icon-heart
{
    width: 35%;
    height: 100%;
}
  
#icon_heart
{
    width: 400px;
    margin-top: -20px;  
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner_text
{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner_text h2
{
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.banner_text a
{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.leer
{
    text-align: center;
}

.banner_text a:hover
{
    color: #69F1A1;
}

.banner_icon-fire
{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire
{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.5;
}

 /*Testimony*/

 .testimony
 {
    background-color: #121214;  
    filter: drop-shadow(-25px 0px 30px rgba(0,0,0,0.5));
    border-radius: 10px;
 }

 .testimony_container
 {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    height: 300px;
 }

 .testimony_body 
 {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;  
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
 }

 .testimony_body--show
 {
   pointer-events: unset;
   opacity: 1;
   transition: opacity 1.5s ease-in-out; 
 }

 .testimony_img
 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
 }

 .testimony_texts
 {
    max-width: 700px;
    text-align: center;
 }

 .subtitle
 {
    padding: 15px;
    color: white;
 }

 .testimony_course
 {
    background-color: #69F1A1;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 5px;
 }

 .testimony_course:hover
 {
    background-color: red;
 }

 .testimony_review
 {
    color: white;
    text-align: center;
 }

 .testimony_arrow
 {
    width: 90%;
    cursor: pointer;
 }

 .testimony_arrow:hover
 {
    background: #69F1A1;
 }
 

@media (max-width: 800px){
    .container_header,
    main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        padding-right: 15px;
        font-size: 24px;
    }

    .header_register
    {
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
        transition: all 300ms;

    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .menu li:hover{
        background-color: red;
    }

    .mostrar_menu{  /* CLASE MANIPULADA POR JS*/
        height: 265px;
        width: 180px;
        background-color: #121214;
        color: white;
    }

    .buttons_cover{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text_information-cover h1{
        font-size: 40px;
        display: flex;
        width: 100%;
        padding-right: 0px;
        justify-content: center;
        align-content: center;
        text-align: center;
        
    }

    .text_information-cover p{
        font-size: 25px;
        display: flex;
        width: 100%;
        padding-right: 0px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }


    .banner_text h2{
        font-size: 19px;
        margin-left: 35px;
        text-align: center;
    }

    #icon_heart{
        left: -60px;
    }

    .banner_icon-fire{
        right: -15px;
    }

    .testimony
    {
        height: 470px;
        padding: 20px;
    }

    .testimony_container{
        grid-template-columns: 30px 1fr 30px;  
    }

    .testimony_body{
         grid-template-columns: 1fr;
         grid-template-rows: max-content max-content;
         gap: 2em;
         padding: 15px;
         text-align: center;
         justify-items: center;  
    }

    .subtitle{
        padding: 10px;
    }

    .testimony_img{
        width: 200px;
        height: 200px;  
    }
    
}

@media (max-width: 600px){
    /*.cover{
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

   

    .media_cove{
        width: 45px;
    }*/

    #icon_menu{
        padding-right: 5px;
    }

    .cover
    {
        padding-right: 20px;
    }

    .text_information-cover{
        width: 100%;
    }

    .text_information-cover h1
    {
        display: flex;
        width: 100%;
        padding-right: 0px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }


    .text_information-cover p
    {
        display: flex;
        width: 100%;
        padding-right: 0px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }


    /*.media_cover{
        display: none;
    }*/


    .banner{
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }


    #icon_heart{
        left: 0;
    }

    .banner_text{
        width: 100%;
        margin-top: -100px;
    }

    .testimony
    {
        height: 530px;
        padding: 15px;
    }

    .testimony_container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony_arrow{
        width: 100%;
    }

    .testimony_course{
        margin-top: 15px;
    }
}
